body {
    width: auto;
    color: #2C2A27;
    font-family: "Urbanist", serif;
}


/* Navbar  */

.navbar {
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.5em;
    padding: 0% 3%;
}

.nav-item {
    padding: 0% 40%;
    font-size: 1.3em;
}


/* About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15%;
    background-image: url("../img/CircleImage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
}

.about .about--img {
    max-width: 50%;
    min-width: 300px;
    height: auto;
    padding: 50px;
}

.about .about--words {
    text-align: left;
    padding: 20px;
    font-size: 2.2em;
}


/* Education */

.education {
    padding: 50px;
    background-color: #DCE6FF;
}

.ed--containers {
    padding: 50px;
    margin: auto;
}

.ed--container div {
    display: inline-block;
    width: 48%;
    margin: auto;
    line-height: 100%;
}

.education .ed--heading {
    font-weight: bold;
    font-size: 2.2em;
}

.ed--container .ed--left h1 {
    font-weight: bold;
    font-size: 1.8em;
}

.ed--container p {
    font-size: 1.3em;
}


/* Work */

.work .work--heading {
    font-size: 2.2em;
    font-weight: bold;
    padding: 50px 50px 0px 50px;
}

.experience { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bg1 {
    background-color: #fff;
}

.bg2 {
    background-color: #DCE6FF;
}

.exp--left .exp--img {
    width: 90%;
    height: auto;
}

.exp--right {
    width: 50%;
}

.exp--right .exp--info {
    margin: 15%;
}

.exp--right .exp--title {
    font-weight: bold;
    font-size: 1.8em;
}

.exp--right .exp--company {
    font-weight: bold;
    font-size: 1.8em;
}

.exp--right .exp--description {
    font-size: 1.2em;
}


/* Hobbies */

.hobby div {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hobby .hobby--img {
    width: auto;
}

.hobby .hobby--words {
    padding: 150px;
    width: 51.83%;
}

.hobby--words h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.hobby--words p {
    font-size: 1.2em;
}


/* Timeline */

#form {
    padding: 50px 0;
    margin: auto;
    width: 50%;
    font-size: 1.2em;
}

form > div > label{
    /* border: red solid; */
    padding: 5px 10px;
}

form > button {
    margin: 10px 0px;
    background-color: #AD86FF!important;
    border: solid 2px #AD86FF!important;
}

#posts {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 1.2em;
}

#posts, #posts th, #posts td {
    border: 1px solid black;
    border-collapse: collapse;
}

#posts th, #posts td {
    padding: 5px;
}

tr:hover {
    background-color: #DCE6FF;
  }

/* Footer */

footer {
    background-color:#f1f1f1;
    padding: 2% 0px;
}

footer > .footer--items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--items .footer--words {
    font-size: 1.2em;
    margin: auto;
}

.footer--items .footer--img {
    width: 60px;
    height: auto;
    margin-right: 170px;
}