body {
    width: auto;
    color: #2C2A27;
    font-family: "Urbanist", serif;
}


/* Navbar  */

.navbar {
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2.5em;
    padding: 0% 3%;
}

.nav-item {
    padding: 0% 40%;
    font-size: 1.5em;
}


/* About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15%;
    background-image: url("../img/CircleImage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px;
}

.about .about--img {
    max-width: 50%;
    min-width: 300px;
    height: auto;
    padding: 50px;
}

.about .about--words {
    text-align: left;
    padding: 20px;
    font-size: 2.5em;
}


/* Education */

.education {
    padding: 50px;
    background-color: #DCE6FF;
}

.ed--containers {
    padding: 50px;
    margin: auto;
}

.ed--container div {
    display: inline-block;
    width: 48%;
    margin: auto;
    line-height: 100%;
}

.education .ed--heading {
    font-weight: bold;
    font-size: 2.5em;
}

.ed--container .ed--left h1 {
    font-weight: bold;
    font-size: 2em;
}

.ed--container p {
    font-size: 1.5em;
}

/* Work */

.work {
    padding: 50px;
}

.work .work--heading {
    font-size: 2.5em;
    font-weight: bold;
}

.work .work--items {
    padding: 50px;
}

.experience { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.exp--left .exp--img {
    width: 90%;
    height: auto;
}

.exp--right {
    width: 50%;
}

.exp--right .exp--info {
    margin: 15%;
}

.exp--right .exp--title {
    font-weight: bold;
    font-size: 2em;
}

.exp--right .exp--company {
    font-weight: bold;
    font-size: 2em;
}

.exp--right .exp--description {
    font-size: 1.5em;
}

/* Footer */

footer {
    background-color:#f1f1f1;
    padding: 2% 0px;
}

footer > .footer--items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--items .footer--words {
    font-size: 1.5em;
    margin: auto;
}

.footer--items .footer--img {
    width: 60px;
    height: auto;
    margin-right: 170px;
}