{% macro experience(img, title, company, description, color)%}
    {% if color is even %}
        <div class="experience bg2">
    {% else %}
        <div class="experience bg1">
    {% endif %}
            <div class="exp--left">
                <img class="exp--img" src={{ img }} alt="Experience Image" />
            </div>
            <div class="exp--right">
                <div class="exp--info">
                    <h1 class="exp--title">{{ title }}</h1>
                    <h1 class="exp--company">{{ company }}</h1>
                    <p class="exp--description">{{ description }}</p>
                </div>
            </div>
        </div>
{%- endmacro %}