{% macro footer() %}
    <footer>
        <!-- This footer has links that are customized to me, Hailey. Change this to take in inputs later  -->
        <div class="footer--items">
            <!-- Some words in the footer -->
            <p class="footer--words">Get in touch with me!</p>
            <!-- Mail -->
            <a href="mailto:hmoon@bu.edu?subject=Coming From Your Portfolio">
                <img class="footer--img" src="../static/img/Email.png" />
            </a>
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/hailey-moon-/">
                <img class="footer--img" src="../static/img/LinkedIn.png" />
            </a>
            <!-- GitHub -->
            <a href="https://github.com/Hailey-moon">
                <img class="footer--img" src="../static/img/GitHub.png" />
            </a>
        </div>
    </footer>
{%- endmacro %}