{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}

<!-- I forgot what this was -->
{% block title %}test{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ navbar.navbar() }}
{% endblock %}

{% block about %}
    <!-- Leave empty -->
{% endblock %}


{% block education %}
    <!-- Leave empty -->
{% endblock %}

{% block work %}
    <!-- Leave empty -->
{% endblock %}

{% block footer %}
    {{ footer.footer() }}
{% endblock %}