{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}
{% import "hobby.html" as hobby %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar %}
    {{ navbar.navbar() }}
{% endblock %}

{% block about %}
    <!-- Leave empty -->
{% endblock %}

{% block education %}
    <!-- Leave empty -->
{% endblock %}

{% block work %}
    <!-- Leave empty -->
{% endblock %}

{% block content %}
    {% for item in user.hobbies %}
        {% if loop.index is even %}
            {{ hobby.hobby(item.title, item.description, item.img, 1) }}
        {% else %}
            {{ hobby.hobby(item.title, item.description, item.img, 2) }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {{ footer.footer() }}
{% endblock %}