{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}
{% import "about.html" as about %}

{% block title %}test{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar%}
    {{ navbar.navbar() }}
{% endblock %}

{% block about %}
    {{ about.about("Hailey Moon", "../static/img/Headshot.png")}}
{% endblock %}

{% block content %}
    <div id="work">
        {{ super() }}
    </div>
{% endblock %}

{% block footer %}
    {{ footer.footer() }}
{% endblock %}