{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}
{% import "about.html" as about %}
{% import "education.html" as education %}
{% import "work.html" as work %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar%}
    {{ navbar.navbar() }}
{% endblock %}

{% block about %}
    {{ about.about(
        user.name,
        user.pic
        )
     }}
{% endblock %}

{% block education %}
    {{ education.education(
        user.education.school,
        user.education.grad,
        user.education.major,
        user.education.year
        )
    }}
{% endblock %}

{% block work %}
    {{ work.work(user.work) }}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {{ footer.footer() }}
{% endblock %}

{% block js %}
{% endblock %}