{% extends "base.html" %}
{% import "navbar.html" as navbar %}
{% import "footer.html" as footer %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block navbar%}
    {{ navbar.navbar() }}
{% endblock %}

{% block about %}
{% endblock %}

{% block education %}
{% endblock %}

{% block work %}
{% endblock %}

{% block content %}

<form id="form">
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Content</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Content" name="content">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<table id="posts"></table>

{% endblock %}

{% block footer %}
    {{ footer.footer() }}
{% endblock %}

{% block js %}
    <script>
        const url = '/api/timeline_post'
        const posts = document.getElementById('posts');

        // When window loads, get all the posts from api
        window.onload = getPosts(url);
        async function getPosts(url) {
            const response = await fetch(url);
            var data = await response.json();
            show(data.timeline_posts)
        }

        // function to turn the data in array format into an html table
        function show(data) {
            //console.log(data);
            let tab =
                `<tr>
                <th>Name</th>
                <th>Email</th>
                <th>Content</th>
                <th>Created At</th>
                </tr>`;
            for (let r of data) {
                tab += `<tr>
                <td>${r.name} </td>
                <td>${r.email}</td>
                <td>${r.content}</td>
                <td>${r.created_at}</td>
                </tr>`;
            }
        posts.innerHTML = tab;
        }

        // POST request that sends every time the submit button is pressed
        const form = document.getElementById('form');
        form.addEventListener('submit', function(e) {
            e.preventDefault()
            const name=form.elements[0].value
            const email=form.elements[1].value
            const content=form.elements[2].value
            const validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

            if(!name){
            alert('Invalid name');
            }
            else if (!email.match(validRegex)) {
              alert('Invalid email')
            }
            else if (!content) {
              alert('Invalid content')
            }

            else {

            const payload = new FormData(form);

            fetch(url, {
                method: 'POST',
                body: payload,
            })
            .then(res => res.json())
            .then(data => console.log(data))
            //.catch(err => console.log(err))

            getPosts(url);
              }
        })

    </script>
{% endblock %}
